<div class="wrapper">
    <div id="content">
        <div class="container">
            <!-- Back Button -->
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mb-3" (click)="goBack()">
                    <i class="fa fa-arrow-left"></i> Back
                </button>
            </div>

            <div class="d-flex justify-content-center my-4">
                <button class="btn btn-primary mx-2" (click)="setActiveSection('profile')">
                    Profile update
                </button>
                <button class="btn btn-warning mx-2" (click)="setActiveSection('changePassword')">
                    Login Password
                </button>
                <button class="btn btn-success mx-2" (click)="setActiveSection('createPassword')">
                    Transaction Password
                </button>
                <button class="btn btn-success mx-2" (click)="setActiveSection('referral-tree')">
                    Reffral Tree
                </button>
            </div>


            <div class="row justify-content-center" *ngIf="activeSection === 'profile'">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="card shadow-sm mt-5">
                        <div class="card-header text-white">
                            <h2 class="card-title text-center mb-0">Profile</h2>
                        </div>
                        <div class="card-body">
                            <!-- Profile Form -->
                            <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                                <!-- User ID -->
                                <div class="form-group mb-3">
                                    <label for="userId">User ID:</label>
                                    <input type="text" id="userId" class="form-control" formControlName="userId" />
                                </div>
            
                                <!-- Full Name -->
                                <div class="form-group mb-3">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" class="form-control" formControlName="name" />
                                </div>
            
                                <!-- Email Verified -->
                                <div class="form-group mb-3">
                                    <label for="isEmailVerified">Email Verified:</label>
                                    <select id="isEmailVerified" class="form-select" formControlName="isEmailVerified">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Mobile Verified -->
                                <div class="form-group mb-3">
                                    <label for="isMobileVerified">Mobile Verified:</label>
                                    <select id="isMobileVerified" class="form-select" formControlName="isMobileVerified">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Withdraw Allowed -->
                                <div class="form-group mb-3">
                                    <label for="isWithdrawAllowed">Withdraw Allowed:</label>
                                    <select id="isWithdrawAllowed" class="form-select" formControlName="isWithdrawAllowed">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Staking Allowed -->
                                <div class="form-group mb-3">
                                    <label for="isStakingAllowed">Staking Allowed:</label>
                                    <select id="isStakingAllowed" class="form-select" formControlName="isStakingAllowed">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Internal Transfer Allowed -->
                                <div class="form-group mb-3">
                                    <label for="isInternalTransferAllowed">Internal Transfer Allowed:</label>
                                    <select id="isInternalTransferAllowed" class="form-select" formControlName="isInternalTransferAllowed">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Available for Reward -->
                                <div class="form-group mb-3">
                                    <label for="isAvailableForReward">Available for Reward:</label>
                                    <select id="isAvailableForReward" class="form-select" formControlName="isAvailableForReward">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
            
                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="profileForm.invalid">
                                    Update Profile
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row justify-content-center" *ngIf="activeSection === 'changePassword'">
                <!-- Change Transaction Password -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Change Login Password</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="chnageLoginPassword" (ngSubmit)="changeUserLoginPassword()">
                            <div class="form-group mb-3">
                                <label for="prevPassword">Previous Password:</label>
                                <div class="input-group">
                                    <input type="text" id="prevPassword"
                                        class="form-control" formControlName="userId" required />
                                  
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="newPassword">New Password:</label>
                                <div class="input-group">
                                    <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword"
                                        class="form-control" formControlName="password" required />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary"
                                            (click)="showNewPassword = !showNewPassword">
                                            <i [class]="showNewPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                           
                            <button type="submit" class="btn btn-warning btn-block"
                                [disabled]="chnageLoginPassword.invalid">
                                Change Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" *ngIf="activeSection === 'createPassword'">
                <!-- Create Transaction Password -->
                <div class="card shadow-sm mt-5 col-12 col-md-6">
                    <div class="card-header text-white">
                        <h2 class="card-title text-center mb-0">Change Transaction Password</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changeTraxPassword" (ngSubmit)="changeTranxPassword()">
                            <div class="form-group mb-3">
                                <label for="password">Password:</label>
                                <div class="input-group">
                                    <input type="text" id="password"
                                        class="form-control" formControlName="userId" required />
                                   
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label for="cnfPassword">Confirm Password:</label>
                                <div class="input-group">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="cnfPassword"
                                        class="form-control" formControlName="password" required />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary"
                                            (click)="showConfirmPassword = !showConfirmPassword">
                                            <i [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="changeTraxPassword.invalid">
                                Create Password
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" *ngIf="activeSection === 'referral-tree'">
                <div class="col-md-8 col-sm-10">
                    <!-- Referral Tree Table -->
                    <div class="mt-4">
                        <div class="card  text-light justify-content-between">
                            <p-tree [value]="nodes" [filter]="true" selectionMode="checkbox"
                                (onNodeSelect)="onNodeSelect($event)" [style]="{'margin-top': '20px'}"></p-tree>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-10">
                    <!-- Referral Tree Table -->
                    <div class="mt-4">
                        <div class="card justify-content-between">
                            <!-- Referral User Info -->
                            <div class="mt-4">
                                <div class="card">
                                    <div class="card-header text-white">
                                        <h2 class="card-title text-center mb-0">Referral User data</h2>
                                    </div>
                                    <div class="card-body" *ngIf="selectedReferral">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Name:
                                                <span class="mx-1">{{ selectedReferral.name }}</span>
                                            </li>
                                            <li class="list-group-item">
                                                Referral Code:
                                                <span class="mx-1">{{ selectedReferral.referralCode }}</span>
                                            </li>
                                            <!-- <li class="list-group-item">
                                                 Email:
                                                <span class="mx-1">{{ selectedReferral.email }}</span>
                                            </li> -->
                                            <!-- Add more user details with icons as needed -->
                                        </ul>
                                    </div>
                                    <div *ngIf="!selectedReferral">
                                        <p class="text-center"><i class="fa fa-exclamation-triangle"></i> No user
                                            selected</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>